<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section class="card-section">
            <div class="card shadow-lg p-3 mb-5 bg-dark rounded">
                <div class="card-body">
                    <form>
                        <div class="">
                            <h1>Travel Planner</h1>
                            <p>Departure date:</p>
                            <input id="depDate" placeholder="dd/mm/yyyy" type="date">
                            <p>Destination:</p>
                            <input class="card-text" id="submitCity" type="text" name="input" value="" placeholder="Paste the city name" required>
                            <h4 id="countryName" class="card-title">
                                <h5 id="countryValue">

                            </h4>
                            <div>
                                <span id="countdown"></span>
                            </div>

                            <br>
                            <!-- <p id="countdown"></p> -->
                            <button class="btn btn-primary" id="submitCityButton" type="submit" onclick="this.blur();">Submit</button>
                            <button class="btn btn-primary" id="requestCountryInfo" type="submit" onclick="Client.restCountriesApiCall(event)">info</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <h3 class="page-title">Weather forecast for departure date: </h3>
            <!-- List results -->
            <div class="list-group ">
                <div class="d-flex w-100 justify-content-center">
                    <p id="today"></p>
                    <p id="wind"></p>
                    <p id="clouds"></p>
                    <p id="uv"></p>
                </div>
                <h3 class="page-title">Country information: </h3>
                <!-- List results -->
                <div class="list-group ">
                    <div class="d-flex w-100 justify-content-center">
                        <p id="capital"></p>
                        <p id="languages"></p>
                        <p id="native"></p>
                        <p id="population"></p>
                    </div>
        </section>

    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>