<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section class="card-section">
            <div class="card shadow-lg p-3 mb-5 bg-dark rounded">
                <div class="card-body">
                    <form onsubmit="return Client.sentimentApi(event)">
                        <div class="">
                            <h5 class="card-title">
                                Extract article sentiment date
                            </h5>
                            <input class="card-text" id="submitText" type="text" name="input" value="" placeholder="Paste some text" required>
                            <button class="btn btn-primary" id="submitSentimentButton" type="submit" onclick="this.blur();">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <h2 class="page-title">Analisys results</h2>
            <!-- List results -->
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-center">
                        <h5 class="mb-1 card-title">Sentiment resulst analysis</h5>
                    </div>
                    <div class="sentiment-results d-flex w-100 justify-content-center">
                        <div class="d-flex justify-content-between results-text" id="polarity"></div>
                        <br>
                        <div class="d-flex justify-content-between results-text" id="polarity_confidence"></div>
                    </div>
                </a>
        </section>

    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>