@import "./master";
header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

h1,
h2 {
    font-family: $font-stack;
    font-size: 3rem;
    margin: 30px;
    color: $primary-color-light-bg;
}

.navbar {
    border-radius: 0%;
    margin: 0;
    position: sticky;
    box-shadow: 10px $divider-color;
    &.bg-primary {
        background-color: $primary-color-dark !important;
        color: $primary-color-text;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 1.5rem;
        &.navbar-dark .navbar-text {
            color: $primary-color-text;
        }
    }
}